flask
pytest
pytest-flask
gunicorn
serverless-wsgi
google-generativeai
python-dotenv
numpy
pandas
scikit-learn
flask-sqlalchemy
flask-bcrypt
reportlab
streamlit
plotly
flask-login
PyMySQL
pandas
python-dotenv
tensorflow
pillow